#about{
    width:100%; 
    margin-top: 50px;
    border:0px solid white;
    background-color: rgb(32, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#About_heading{
    margin-top: 50px;
    font-style: normal;
    font-family: 'sans-serif', Tahoma, Verdana;
    font-size: 36px;
    font-weight: 500;
    color: skyblue;
}

#description{
    font-style: normal;
    font-family: 'sans-serif', Tahoma, Verdana;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
    color: rgb(234, 224, 243);
    margin: 20px 100px 20px 100px;
}

#About_links{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

#Github_btn, #Resume_btn{
    font-weight: 500;
    color: #ffff;
    border: 1px solid #fff;
    padding: 25px, 34px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Github_btn a{
    text-decoration: none;
    font-weight: 500;
    color: #ffff;
    padding: 10px;
    font-size: 24px;
    background-color: transparent;
}

#Resume_btn a{
    text-decoration: none;
    font-weight: 500;
    color: #ffff;
    padding: 10px;
    font-size: 24px;
    background-color: transparent; 
}


