#status_container{
    width:100%;
    border:1px solid white;
    margin-top: 50px;
    background-color: rgb(32, 31, 31);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.gitStat_heading{
    padding: 20px;
    font-style: normal;
    font-family: 'sans-serif', Tahoma, Verdana;
    font-size: 36px;
    font-weight: 500;
    color: skyblue;
}

.github_status{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#git_calender{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}