#skills{
    width:100%;
    padding-bottom: 100px;
    border:0px solid white;
    margin-top: 50px;
    background-color: rgb(32, 31, 31);
    
}

#skills_heading{
    padding: 50px;
    font-style: normal;
    font-family: 'sans-serif', Tahoma, Verdana;
    font-size: 36px;
    font-weight: 500;
    color: skyblue;
}


#skills_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    justify-content:space-around;
    align-items: center;
}

.skills-card-img{
    font-size: 100px;
    padding: 10px;
}

.skills-card-name{
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
}

.Skill_item{
    border: 0px solid #ffff;
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Skill_item:hover{
    background-color: #ffff;
    transform: scale(1.1);
    transition: 2s;
    border-radius: 30px;
}

.Skill_item:nth-child(1):hover{
    color: red;
}

.Skill_item:nth-child(2):hover{
    color:blue;
}

.Skill_item:nth-child(3):hover{
    color:rgb(178, 238, 57);
}

.Skill_item:nth-child(4):hover{
    color:blue;
}

.Skill_item:nth-child(5):hover{
    color:rgb(96, 197, 236);
}

.Skill_item:nth-child(6):hover{
    color:skyblue;
}

.Skill_item:nth-child(7):hover{
    color:rgb(29, 27, 27);
}

.Skill_item:nth-child(8):hover{
    color:teal;
}

.Skill_item:nth-child(9):hover{
    color:green;
}

.Skill_item:nth-child(10):hover{
    color:green;
}

.Skill_item:nth-child(11):hover{
    color:teal;
}

.Skill_item:nth-child(12):hover{
    color:rgb(216, 8, 8);
}

.Skill_item:nth-child(13):hover{
    color:black;
}

.Skill_item:nth-child(14):hover{
    color:rgb(63, 63, 243);
}














#carousel_container{
    padding: 50px;
}

.carousel_item{
    border: 0px solid #ffff;
    width:70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    align-items: center;
}


.items_logo{
    width:100px;
    height: 100px;
    transition: all 0.3s;
}

.items_logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}